* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  width: var(--body-width);
  height: var(--body-height);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.one-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
