* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  width: var(--body-width);
  min-height: var(--body-height);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.one-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-button {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--font-size-large);
  transition: 0.3s;
  background-color: var(--sky-blue);
  color: var(--white);
  border: none;
  outline: none;

  &:hover {
    background-color: var(--sky-blue-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.secondary-button {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--font-size-large);
  transition: 0.3s;
  background-color: var(--white);
  color: var(--sky-blue);
  border: 2px solid var(--sky-blue);
  outline: none;

  &:hover {
    background-color: var(--blue-dark);
    border-color: var(--blue-dark);
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}
