main {
  margin: 10px 10px auto 10px;
}

.current-website__top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main__blocked-list,
.main__add-to-blocked-list {
  display: none;
}

.current-website__bottom-section {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 9px 12px;
}

.current-website__info-label {
  margin-bottom: 4px;
  color: var(--gray-dark);
}

.current-website__time-block {
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  background: var(--gray);
}

.current-website__time-title {
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

#domain {
  font-weight: bold;
  font-size: var(--font-size-large);
}

#time-remaining {
  font-weight: bold;
  font-size: 25px;
}

#block-site-button,
#settings-button {
  width: 100%;
}
