main {
  margin: 10px 10px auto 10px;
}

.current-website__top-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main__blocked-list {
  display: none;
}

.current-website__bottom-section {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 9px 12px;
}

.current-website__info-label {
  margin-bottom: 4px;
  color: var(--gray-dark);
}

.current-website__time-block {
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  background: var(--gray);
}

.current-website__time-title {
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

.blocked-list__empty-list-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: var(--blue-dark);
  border: 2px solid var(--sky-blue);
  text-align: center;
}

.blocked-list__empty-list-title {
  font-weight: bold;
  margin: 8px 0 4px 0;
  font-size: var(--font-size-xlarge);
}

.blocked-list__empty-list-subtitle {
  max-width: 270px;
  font-size: var(--font-size-large);
}

.blocked-list__empty-list-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blocked-list__empty-list-button {
  margin-top: 8px;
}

#domain {
  font-weight: bold;
  font-size: var(--font-size-large);
}

#time-remaining {
  font-weight: bold;
  font-size: 25px;
}

#block-site-button,
#manage-blocked-list {
  width: 100%;
}
