main {
  margin: 10px;
}

.main__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main__info-label {
  margin-bottom: 4px;
  color: var(--gray-dark);
}

.main__time-block {
  padding: 10px;
  text-align: center;
  background: var(--blue-light);
}

.main__time-title {
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

#domain {
  font-weight: bold;
  font-size: var(--font-size-large);
}

#time-remaining {
  font-weight: bold;
  font-size: 25px;
}
